*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.app_container{
  padding: 30px 50px;
  max-width: 550px;
}

%common{
  border:1px solid #ccc;
  border-radius: 4px;
}

.inputs_container{
  display: flex;
  margin-top: 0.875rem;
  margin-bottom: 0.875rem;
  flex-direction: column;
  >label{
    margin-bottom: 5px;
  }
  >select,input,textarea{
    width: 100%;
    margin-bottom: 0.875rem;
    padding: 15px 10px;
    background-color: #f3f3f3;
    @extend %common;
  }
}

button[aria-label='add toast']{
  @extend %common;
  padding: 10px 25px;
}